body {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    background-color: black;
    text-align: center;
}
h1 {
    font-size: 90px;
}
input {
    width: auto;
    margin: 2px;
    border: 1px black;
    border-radius: 5% 5%;
}
img {
    max-width: 300px;
    max-height: 169px;
    margin: 4px;
    float: left;
}
.gallery {
    border:2px yellow;
    align-items: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
iframe {
    margin:25px;
}
footer {
    font-size: x-small;
}